.asterix {
	display: inline;
	color: red;
}
a {
	text-decoration: none;
}
a:hover {
	text-decoration: none;
}
.left {
	text-align: left;
}
.white-text {
	color: #FFF;
}
.center {
    margin: auto;
    width: 50%;
}
table, th, td {
    border: 1px solid black;
}
th, td {
    padding: 5px 15px;
}
body {
	background: #4ABDAC;
	color: #DFDCE3;
}
.vermillion-bg {
	background: #FC4A1A;
}
.vermillion-color {
	color: #FC4A1A;
}
.blue-color {
    color: #3a87ad;
}
textarea {
	color: #000;
	resize: vertical;
}
.grey-color {
    color: #DFDCE3;
}
.grey-background {
    background-color: #DFDCE3;
}
.bottom-footer {
   position: absolute;
   bottom: 0;
   width: 100%;
   height: 60px;
}
#loginDiv {
    width: 400px;
    padding: 70px 30px;
}
@media screen and (max-device-width: 480px) {
    #loginDiv {
        width: 300px;
        padding: 30px 30px;
    }
}
